NET "A" LOC = "L14";
NET "B" LOC = "H12";
NET "C" LOC = "N14";
NET "D" LOC = "N11";
NET "E" LOC = "P12";
NET "F" LOC = "L13";
NET "G" LOC = "M12";

net "b0" LOC = "P11";
net "b1" Loc = "L3";
Net "b2" Loc = "K3";
net "b3" Loc = "B4";

Net "Anode3in" Loc = "N3";
Net "Anode2in" Loc = "E2";
Net "Anode1in" Loc = "F3";
Net "Anode0in" Loc = "G3";

Net "Anode3" Loc = "K14";
Net "Anode2" Loc = "M13";
Net "Anode1" Loc = "J12";
Net "Anode0" Loc = "F12";